
/* Default Colors */
$a-primary: #4153de;
$a-danger: #da0b28;
$a-warning: #f7b01b;
$a-success: #12af78;
$a-brand: #282a3c;
$a-dark: #101119;

/* Additional Default Colors */
$a-brand-light: #2c2e3e;
$a-menu-link: #868aa8;

/* Common Colors */
$background-color: #f2f3f8;
$white-color: #ffffff;
$shadow-white-color: #ebedf2;
$link-color: #2c77f4;
$shadow-color: #888ca2;