$white: #fff;
$shadow-white: #ebedf2;
$shadowlol: #888ca2;
$link-blue: #2c77f4;

/* Default Colors */
$a-primary: #4153de;
$a-danger: #da0b28;
$a-warning: #f7b01b;
$a-success: #12af78;
$a-brand: #2c74f4;
$a-dark: #101119;