
.a-accordion {
    margin: 0;
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: $white-color;
    background-clip: border-box;
    border: 1px solid $shadow-white-color;
    .a-accordion__heading {
        cursor: pointer;
        border-bottom: 0;
        background-color: #f7f8fa;
        margin: 0;
        font-size: 1.1rem;
        font-weight: 600;
        padding: 1rem 1rem;
        color: $link-color;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .a-accordion__body {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
        color: #636a91;
        &:not(.visible).invisible {
            display: none;
        }       
    }
    &.a-accordion-light {
        border: 0;
        border-top: 1px solid #eeeef4;
        margin: 0;
        .a-accordion__heading {
            cursor: pointer;
            padding: 1rem 1rem 1rem 0;
            margin: 0;
            background-color: transparent;
            border: 0;
        }
        .a-accordion__body {
            padding: 0;
            margin-bottom: 1.25rem;
        }
        &:first-child {
            border-top: 0;
        }
        &:last-child {
            margin-bottom: 1.25rem;
        }
    }
    &.a-accordion-solid {
        margin-bottom: 1.5rem;
        border: 0;
        .a-accordion__body {
            border: 1px solid #f7f8fa;
        }
    }
    &:first-of-type {
        border-bottom: 0;
    }
    &:not(:first-of-type):not(:last-of-type) {
        border-bottom: 0;
    }
}