.a-grid-nav {
  padding: 0;
  margin: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  .a-grid-nav__row {
    display: table-row;
    .a-grid-nav__item {
      border-right: 1px solid $shadow-white-color;
      border-bottom: 1px solid $shadow-white-color;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      padding: 3.3rem 0.75rem;
      transition: all 0.3s;
      text-decoration: none;
      color: $shadow-color;
      .a-grid-nav__icon {
        color: $link-color;
        text-align: center;
        font-size: 2.5rem;
        > svg {
          width: 40px;
          height: 40px;
          > g [fill] {
            fill: $link-color;
          }
        }
      }
      .a-grid-nav__title {
        color: $link-color;
        display: block;
        line-height: 1;
        text-align: center;
        margin: 10px 0 0 0;
        font-size: 1.2rem;
        font-weight: 600;
      }
      .a-grid-nav__desc {
        display: block;
        line-height: 1;
        text-align: center;
        margin: 10px 0 0 0;
        font-size: 1rem;
        font-weight: 400;
      }
    }
    .a-grid-nav__item:last-child {
      border-right: 0;
    }
    .a-grid-nav__item:hover {
      background: #f7f8fa;
      text-decoration: none;
      transition: all 0.3s;
    }
  }
}
.a-nav {
    display: block;
    padding: 1rem 0;
    margin: 0;
    list-style: none;
    border: 0;
    .a-nav__item {
        display: block;
        > .a-nav__link {
            display: flex;
            flex-grow: 1;
            align-items: center;
            padding: 0.55rem 1.75rem;
            cursor: pointer;
            transition: all 0.3s;
            font-size: 1rem;
            color: #595d6e;
            font-weight: 400;
            text-decoration: none;
        }
        &:not(.a-nav__item--disabled):hover {
            background-color: #f7f8fa;
            transition: all 0.3s;
            color: $link-color;
        }
    }
    .a-nav__heading, .a-nav__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        color: #595d6e;
        font-weight: 600;
        padding: 0.55rem 1.75rem;
    }
    .a-nav__heading {
        font-size: 1.1rem;
    }
    .a-nav__separator {
        margin: 0.7rem 0;
        height: 0;
        display: block;
        border-bottom: 1px solid $shadow-white-color;
    }
}