.a-wrapper {
    padding-left: 250px;
    padding-top: 65px;
    .a-header {
        display: flex;
        justify-content: space-between;
        height: 65px;
        background-color: $a-brand;
        .a-header-menu {
            display: flex;
            align-items: stretch;
            height: 100%;
            margin: 0;
            .a-header-menu__nav {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                align-items: stretch;
                .a-menu__item {
                    display: flex;
                    align-items: stretch;
                    padding: 0;
                    margin: 0;
                    a {
                        cursor: pointer;
                        color: $shadow-white-color;
                        padding: 0.25rem 2rem;
                        display: flex;
                        text-decoration: none;
                        position: relative;
                        vertical-align: middle;
                        align-items: stretch;
                        outline: 0!important;
                        flex-grow: 1;
                        font-size: 0.8125rem;
                        align-self: center;
                    }
                    &.a-menu__item--active {
                        background-color: lighten($a-brand-light, 3.33333%);
                    }
                    &:hover {
                        background-color: lighten($a-brand-light, 3.33333%);
                    }
                }
            }
        }
        &.a-aheader-fixed {
            flex: none;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 10;
        }
        &.a-aheader-aside-included {
            left: 250px;
        }
    }
    .a-content {
        padding: 0 0 25px;
    }
}